body {
  font-family: "Montserrat";
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

/* container */
.container-fluid {
  padding: 7% 15%;
}

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Heading */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 5rem;
}

/* navigation bar  */
.navbar {
  padding-bottom: 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download-Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Tittle-image */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
.tittle-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  left: 48%;
}

/* feature  */
#feature {
  padding: 8% 15%;

}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 2.5rem;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4066;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  padding: 5% 15%;
  font-size: 3rem;
  line-height: 1.5;
}

/* press */
#press {
  background-color: #ef8172;
  te padding-bottom: 3%;
}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action */


.f-icon {
  margin: 20px 10px;
}

@media (max-width:1020px) {
  #title {
    text-align: center;
  }

  .tittle-image {
    transform: rotate(0);
    position: relative;
    left: 30px;
  }
}
